name: Deploy Backend

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: SSH and Deploy
      run: |
        # Install sshpass to securely pass the SSH password
        sudo apt-get install -y sshpass

        # SSH into the server
        sshpass -p 'UtOKdIDiA4wrEVK' ssh -o StrictHostKeyChecking=no ubuntu@3.95.189.168 << 'ENDSSH'
          # Navigate to the project directory
          # Stop the current PM2 process
          sudo pm2 stop node
          
          sudo chown -R ubuntu:ubuntu /var/www/Greenback-Claims
          cd /var/www/Greenback-Claims
          sudo git reset --hard HEAD
          sudo git fetch origin main
          sudo git reset --hard origin/main

          # Pull the latest changes
          sudo git pull origin main
          sudo npm install

          # Navigate to the server directory
          cd server

      
          # Start the new PM2 process
           sudo pm2 start node
        ENDSSH
        
